.TodoForm {
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.classInput {
			width: 220px;
			height: 30px;

		}
		.card_btn {
			display: flex;
			justify-content: space-around;
			width: 100%;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					max-width: 30px;
					margin: 0;
				}
				&:hover img {
					border-radius: 0px;
					transform: scale(1.1);
					box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
					transition: 1s;
				}
			}
			button:first-child {
				padding: 17px 40px;
				border-radius: 10px;
				cursor: pointer;
				border: 0;
				background-color: rgb(224, 223, 223);
				box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
				letter-spacing: 1.5px;
				text-transform: uppercase;
				font-size: 15px;
				transition: all 0.5s ease;

				&:hover {
					letter-spacing: 3px;
					background-color: hsl(113, 100%, 50%);
					color: hsl(0, 0%, 100%);
					box-shadow: hsl(118, 100%, 50%) 0px 7px 29px 0px;
				}

				&:active {
					letter-spacing: 3px;
					background-color: hsl(115, 100%, 50%);
					color: hsl(0, 0%, 100%);
					box-shadow: hsl(128, 100%, 51%) 0px 0px 0px 0px;
					transform: translateY(10px);
					transition: 100ms;
				}
			}
		}
		.cardFlex {
			display: flex;
			gap: 10px;
			input {
				cursor: pointer;
			}
		}
	}
}
